<apex:page controller="MI_Register_AgencyClass" docType="html-5.0" sidebar="false" showheader="false" standardStylesheets="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <c:MainStyles />
        <apex:stylesheet value="{!$Resource.themeCustom}"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
        <style>
         .messageText{
            color: red;
            text-align: center;
          }
          div.contact-info {
            margin-top: 0;
          }
          .new-agency input::-webkit-input-placeholder {
              color: rgba(200, 200, 200, 0.9);
              font-size: 12px;
          }
          #sec-contact {
            display: none;
            margin-top: 0;
          }
          #sec-contact.in {
            display: flex;
            margin-top: 20px;
          }
          img.mi-logo {
              height: auto !important;
              width: 155px;
              margin-top: -10px;
            }
          .app-header {
            height: 60px;
          }
          .app-header .slds-icon__container {
            margin-top: 5px;
          }
          .w-circle.inner.active {
            background: #0063a7;
            color: #ffffff;
          }
          .panel input[type='checkbox'] {
            float: right;
          }
          .reg-ag-cp-main > .content-item-box {
            text-align: center;
          }
          .slds input.agCode {
            width: 250px;
          }
          .reg-ag-cp-main .content-item-box .item-lbl {
            font-size: 10px;
          }
          span.found-lbl {
            font-size: 12px;
          }
          span.content-sub-item.msg-error {
            font-size: 12px;
            font-weight: bold;
          }
          .slds button.btn-register-agency, .slds button.btn-agency-back, .slds button.services-a-back, .slds button.services-b-back {
            border: 1px solid #0063a7;
            color: #0063a7;
          }
          .slds .services-box {
              max-width: 90%;
              margin-left: 5%;
              margin-right: 5%;
          }
          #accordionServices {
              max-width: 90% !important;
              margin-left: 5% !important;
              margin-right: 5% !important;
          }
          .panel-body > .service-row {
              height: auto;
          }
          td > label {
              color: #888888;
              font-weight: lighter;
          }
          ::-webkit-input-placeholder {
             color: #888888 !important;
             font-size: 12px !important;
          }
          .slds .slds-text-heading--medium {
            font-weight: normal;
          }
          .slds .app-content .item-lbl {
            color: #888888;
          }
          .reg-ag-cp-main label.item-lbl {
            font-size: 12px;
          }
          .inst-bottom {
            color: #888888;
            font-size: 14px;
            font-weight: normal;
          }
          .agency-details .inst-bottom {
            font-size: 12px;
            font-weight: lighter;
          }
          .service-lbl {
            color: #888888;
            font-weight: bold;
          }
          .service-row {
            height: 50px;
            line-height: 36px;
          }
          td > label {
              color: #888888;
              font-weight: lighter;
          }

          .slds td {
              padding-top: 8px;
              line-height: 41px;
              border-bottom: 1px solid #CCCCCC;
          }
          .slds tr input {
              margin-top: 15px;
              margin-right: 15px;
          }
          .slds tr:last-child td {
              border: 0;
          }
          .services-offered-b .service-lbl:first-child {
            display: none;
          }
          .services-offered-b span.slds-icon__container > svg {
              fill: #888888;
          }
          .services-offered-b span.slds-icon__container {
              float: right;
              transition: 0.35s all;
          }
          .services-offered-b .collapsed span.slds-icon__container {
              transform: rotateX(180deg);
          }
          .services-offered-b .service-row.odd {
              cursor: pointer;
          }
          @media screen and (min-width: 767px) {
            .content-item-box {
              padding: 20px 0;
              max-width: 650px;
              margin: auto !important;
            }
            .reg-ag-cp-main .content-item-box {
              margin: auto 233px !important;
            }
            .contact-info > .content-sub-item, #sec-contact > .content-sub-item {
              margin-top: 0;
            }
          }
          @media screen and (min-width: 315px) and (max-width: 767px) {
            img.mi-logo {
              margin-top: 4px;
            }
          }
        </style>
        <script>
        function validateForm() {
           
            if ( $('.agCode').val() ) {
                
                window.location.href="apex/SuccessCoachJoinSuccessfulPage";
            }
            else{
                
                 alert("Please Enter the Verification Code");
                
                }
        }
        </script> 
        
    </head>
    
    <body>
        <div class="slds">
            <apex:form id="MainForm" >
               
                <div class="slds-grid slds-wrap reg-box">
                    <c:AppHeader />

                    <!-- *************** Register New Agency and CP main page *************** -->
                    <div class="slds-col slds-size--1-of-1 app-content new-partner ">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size--1-of-1 content-header-box">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size--1-of-1">
                                        <span class="slds-text-heading--medium content-title">Register as a Success Coach</span>      
                                    </div>
                                </div>
                                
                            </div>

                            <!-- ************* main page ******** -->
                            <div class="slds-col slds-size--1-of-1 reg-ag-cp-main ">
                                <div class="slds-grid slds-wrap content-item-box">
                                    <div class="slds-col slds-size--1-of-1">
                                        <span class="slds-text-heading--small">Enter verification code</span>        
                                    </div>
                                    <div class="slds-col slds-size--1-of-1 content-item">
                                        <div class="slds-form-element">
                                          <label class="slds-form-element__label item-lbl" for="agCode">Success Coach Verification Code</label>
                                          <div class="slds-form-element__control">
                                           <!-- <input id="agCode" class="slds-input" type="text" placeholder="eg: xx-xxx-xxxx" />-->
                                           <input type="text" name="inputCheck" Class="slds-input agCode" placeholder="eg: xx-xxx-xxxx" />
                                          </div>
                                        </div>
                                    </div>
                                    
                                    <span class="slds-col content-sub-item found-lbl">
                                       
                                       
                                    </span>
                                </div>
                                <div class="slds-grid slds-wrap content-footer-box">
                                    <div class="slds-col slds-size--1-of-1 content-sub-item">
                                        
                                        <!--<button type="button"  class="slds-button slds-button--brand slds-button--small app-button btn-partner-join">
                                            Join</button>-->
                                        <a class="slds-button slds-button--small slds-button--neutral app-button-neutral" onClick="validateForm()" >
                                           Join
                                        </a>
                                        
                                    </div>
                                    <div class="slds-col slds-size--1-of-1 content-item slds-text-align--center">
                                        <span class="item-lbl">Or</span>
                                    </div>
                                    <div class="slds-col slds-size--1-of-1 content-item">
                                        <a class="slds-button slds-button--small slds-button--neutral app-button-neutral" href="apex/MI_Citizen_Registration?name=coach">
                                           Request Verification Code
                                        </a>
                                     </div>
                                </div>
                            </div>

                        </div>
                    </div>


                   
                </div>
            </apex:form>
            
        </div>
        <c:MainScripts />
    </body>
    </html>
</apex:page>