<apex:page standardStylesheets="false" docType="html-5.0" showHeader="false" sidebar="false" cache="false" >
	<apex:include id="MI_Header_SideNav"  pageName="MI_Header_SideNav"/>
	<style type="text/css">
	/*---------- page specific styles-------*/

	.doc-preview{
		width: 436px;
	    height: 552px !important;
	    border: 1px solid #000;
	    display: inline-block;
	}

	.doc-prop-row{
		padding: 0 5px;
		margin-top:15px;
	}
	.doc-prop-row:first-child{
		margin-top: 0;
	}

	.doc-prop-label,
	.doc-prop-val{
		padding: 0 5px;
	}
	.doc-prop-label{
		text-align: right;
	}
	.doc-prop-val{
		text-align: left;
	}

	.doc-desc-box,
	.doc-ctrl-box {
	    margin-top: 15px;
	    padding: 0 50px;
	}

	.doc-desc-area{
		min-height: 50px;
	    background: #F6F7F9;
	    padding: 10px;
	}

	.doc-desc-static {
	    
	}

	.edit-desc-btn,
	#shareTrigger{
		cursor: pointer;
	}

	#shareTrigger+* {
	    margin-top: 5px;
	}

	.del-confirm-content{
		padding:10px 40px;
	}
	.del-confirm-ctrls,
	.del-confirm-title,
	.del-confirm-text{
		margin: 10px 0;
	}



	/*---------- common styles-------*/

	.bc-current {
		/*left-padding:5px;*/
	}
	.bc-separator {
		/*padding: 0 5px;*/
	}

	.icon-size-custom-12{
		width: 12px !important;
		height: 12px !important;
	}

	.icon-size-custom-20{
		width: 20px !important;
		height: 20px !important;
	}


	</style>
	<body>
		<div class="slds main-content">
			<div class="slds-grid slds-wrap">
				<div class="slds-col--padded slds-col slds-size--12-of-12">
					<a class="bc-parant">CITIZEN SERVIES</a>
					<span class="bc-separator slds-text-heading--small">&gt;</span>
					<span class="bc-current">DOCUMENT DETAIL</span>
				</div>
				<div class="slds-col--padded slds-col slds-size--6-of-12 slds-p-top--large">
					<div class="doc-title-box">
						<div class="notify">
						    <span class="slds-icon__container slds-icon slds-icon-standard-file slds-icon--large">
						    	<img src="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/standard/file_60.png"/>
								<!-- <img src="{!URLFOR($Resource.IconsLightening,'alesforce-lightning-design-system-icons/standard/file_60.png')}" /> -->
							</span>
						    <div class="notify-body-middle">
						        <div class="slds-text-body--small">Document Details</div>
						        <span class="">Document Name</span>
						    </div>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-m-top--medium doc-prop-box">
						<div class="slds-size--1-of-1">
							<div class="slds-grid slds-wrap doc-prop-row">
								<div class="slds-size--3-of-12 doc-prop-label">Uploaded By</div>
								<div class="slds-size--9-of-12 slds-text-body--small doc-prop-val">Lucia Williams</div>
							</div>
							
							<div class="slds-grid slds-wrap doc-prop-row">
								<div class="slds-size--3-of-12 doc-prop-label">Date</div>
								<div class="slds-size--9-of-12 slds-text-body--small doc-prop-val">12/10/2015</div>
							</div>

							<div class="slds-grid slds-wrap doc-prop-row">
								<div class="slds-size--3-of-12 doc-prop-label">Shared With</div>
								<div class="slds-size--9-of-12 slds-text-body--small doc-prop-val">
									<a href="" data-target="#shareWidget" data-toggle="modal" id="shareTrigger">Edit Access</a>
									<div class="notify">
									    <span class="slds-icon__container slds-icon slds-icon-standard-file slds-icon--small">
									    	<img src="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/standard/file_60.png"/>
											<!-- <img src="{!URLFOR($Resource.IconsLightening,'alesforce-lightning-design-system-icons/standard/file_60.png')}" /> -->
										</span>
									    <div class="notify-body-middle">
									        <div class="slds-text-body--small">Sophia William</div>
									        <span class="slds-text-body--small">SUCCESS  COACH</span>
									    </div>
									</div>
								</div>
							</div>
						</div>
						<div class="slds-size--1-of-1">
							<div class="slds-grid slds-wrap doc-desc-box slds-form-element">
								<div class="slds-size--1-of-2">
									<span class="slds-form-element__label">Description</span>
								</div>
								<div class="slds-size--1-of-2 slds-text-align--right">
									<a href="" class="slds-text-body--small edit-desc-btn">Edit</a>
									<a href="" class="slds-text-body--small edit-desc-btn hide">Cancel edit</a>
									<span class="slds-icon__container slds-icon icon-size-custom-12">
							    		<img src="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/utility/edit_60.png"/>
									</span>
								</div>
								<div class="slds-size--1-of-1 doc-desc-area">
									<div class="slds-size--1-of-1 doc-desc-input slds-form-element__control hide">
										<textarea class="slds-textarea" placeholder="Description here"></textarea>
										<button class="slds-button slds-button--brand slds-button--small slds-m-top--small slds-float--right">Save</button>
									</div>
									<div class="doc-desc-static">
										asdhsjfhjsd  hfghjd gg fjdgf jd	
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="slds-size--1-of-1 doc-ctrl-box">
							<button class="slds-button slds-button--neutral delete-btn" data-toggle="modal" data-target="#deleteConfirm">DELETE DOCUMENT</button>
						</div>

					</div>
					

				</div>
				<div class="slds-col--padded slds-col slds-size--6-of-12 slds-p-top--large">
				<img src="" alt="Opps" class="doc-preview" />
				</div>
			</div>
		</div>
		<div class="modal fade slds" tabindex="-1" role="dialog" id="deleteConfirm">
		  <div class="modal-dialog modal-md">
		    <div class="modal-content">
		      <!-- <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Modal title</h4>
		      </div> -->
			      <div class="modal-body">
				      	<div class="slds-size--1-of-1 del-confirm-close">
			        		<span class="slds-icon__container slds-icon icon-size-custom-20" data-dismiss="modal" type="button">
						    	<img src="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/utility/close_60.png" />
							</span>
			        	</div>
				        <div class="slds-grid slds-wrap del-confirm-content">
				        	
							<div class="slds-size--1-of-1 del-confirm-title">
								<div class="notify">
								    <span class="slds-icon__container slds-icon">
								    	<img src="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/utility/warning_60.png"/>
									</span>
								    <div class="notify-body-middle">
								        <div class="slds-text-heading--small">DELETE DOCUMENT</div>
								    </div>
								</div>
							</div>
							<div class="slds-size--1-of-1 slds-text-body--small del-confirm-text">
								Are you sure you want to delete this document ? After deleting this document, the shared contacts will no longer be able to access this document.
							</div>
							<div class="slds-size--1-of-1 del-confirm-ctrls">
								<button class="slds-button slds-button--brand slds-button--small" data-dismiss="modal">Cancel</button>
								<button class="slds-button slds-button--neutral slds-button--small slds-m-left--x-small">YES, DELETE</button>
							</div>
						</div>
			      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div> -->
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<c:ShareWidget />
		<script type="text/javascript">
			var docDetails = {
				initDocDetails:function () {
					$('.edit-desc-btn').on('click',this.onDocEditMode.bind(this));
				},
				onDocEditMode: function (event){
					$('.doc-desc-static').toggleClass('hide');
					$('.doc-desc-input').toggleClass('hide');

					$('.edit-desc-btn').toggleClass('hide');
				}
			}

			$(document).ready(function () {
				docDetails.initDocDetails();
			});
		</script>
	</body>
</apex:page>