<apex:page standardStylesheets="false" language="{!user_locale}" controller="MI_Avatar" docType="html-5.0" showHeader="false" sidebar="false" cache="false" >
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <apex:stylesheet value="{!URLFOR($Resource.SLDS092, '/assets/styles/salesforce-lightning-design-system-vf.min.css')}"/>
        <apex:includeScript value="{!$Resource.jquery11}"/>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
        <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <apex:includeScript value="{!URLFOR($Resource.SVG_EVERYBODY, 'svg4everybody-master/dist/svg4everybody.js')}" />
            <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
                    <!-- Latest compiled and minified CSS -->
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
                            
                            <!-- Optional theme -->
                                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
                                    
                                    <!-- Latest compiled and minified JavaScript -->
                                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
        .main-header.row {
            padding-bottom: 17px;
        }
        .edit-avatar .slds-icon-action-edit, .edit-avatar .header-avatar {
             float: left;
         }
        .edit-avatar .header-avatar {
             margin-left: 10px;
         }
        .edit-avatar .header-avatar .headingavatar {
             font-size: 16px;
         }
        .edit-avatar .slds-icon-action-edit {
             padding: 0.4rem;
         }
        .edit-avatar .header-avatar .sub-heading-avatar {
            font-weight: bold;
            font-size: 24px;
         }
        .main-content .row .avatar-image-heading{
            text-align: center;
            margin-bottom: 20px;
            font-size: 30px;        
            font-style: normal;
            color: #516588;
            margin-top: 30px;
        }
        .indivudal-profile-images{
            margin-bottom:30px;
            text-align: center;      
            position: relative;
            opacity: 0.3;
     	}   
       .indivudal-profile-images-size{
            height:120px;
            width:120px;
            cursor: pointer;
            }     
       .indivudual-profile-images-square{
            border-radius: 50%;
            height: 120px;
            width: 120px;
            cursor: pointer;
            }
            .def-profile-images{
            float: none !important;
            margin: 0 auto 30px !important;
            text-align: center;
            opacity: 0.3
            }
            
        .overlay{
            background: url({!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/action/approval_120.png')}) no-repeat center;
            height:120px;
            width:120px;       
            z-index: 90;
            background-size: 4em;
            position:absolute;
            top:0;
            left:0;
            right:0;
            margin: 0 auto!important;
            }
         
        .btn-save-avatar {
            background-color: rgb(22, 50, 92);
            color: #fff !important;
            text-decoration: none;
            font-size: 14px !important;
            display: inline-block;
            border-radius: 25px;
            text-align:center;
            width:16%;
            height: 35px;
            outline: none;
         }
            
            .col-lg-9.savediv {
            width:55%;
            float:right;
            margin-top:2%;
            }
            
		 @media (min-width: 768px){
            div.avatar-width-desktop{
            	width:20%;
            }
         }
         
         @media screen and (min-width: 315px) and (max-width: 767px){
            	.main-header.row {
                    padding-bottom: 0px;
                }
                .container-fluid.main-content{
                    left: 0;
                    margin-top: 0;
                }
                .container-fluid.main-content .edit-avatar{
                    overflow: hidden;
                }
                .edit-avatar .header-avatar .headingavatar{
                    font-size: 11px;
                }
            	.edit-avatar .slds-icon-action-edit {
                     padding: 0.3rem;
                }
            	.edit-avatar .header-avatar .sub-heading-avatar {
                    font-size: 16px;
         		}
            	.main-content .row .avatar-image-heading{
                    font-size: 20px;        
                    margin-top: 50px;
                }
            	.btn-save-avatar {
                    width:40%;
                }
                .col-lg-9.savediv {
                	width:65%;
                }
            	.overlay{
                    height:90%;
                    width:55px;       
                    background-size: 3em;
                }
         }
            
        </style>  
        <script>
        $(document).ready(function(){
            myavatar = getURLParameter('ImageName');
            var avatarimg = $("img[name='"+myavatar+"']");
            if(avatarimg.length > 0)
            {
                $("img[name='"+myavatar+"']").after('<p id="avatarsel" class="overlay"></p>');
                $("img[name='"+myavatar+"']").parent().css("opacity","1");
            }  
            
            contactname = getURLParameter('clientName');
            if(contactname != null)
           	{
                $('#ContactName').text(contactname);
            }
            
            
            
            $('.indivudal-profile-images-size,.indivudual-profile-images-square').unbind().click(function(){
                if($(this).parent().css("opacity") != "1")
                	{
                        jQuery('[id$=imgHiddenField]').val($(this).attr("name"));
                        var child = document.getElementById("avatarsel");
                        if(child != null)	
                        {
                            child.remove();
                        }    
                        $('.indivudal-profile-images-size,.indivudual-profile-images-square').parent().css("opacity","0.3");
                        $(this).after('<p id="avatarsel" class="overlay"></p>');
                        $(this).parent().css("opacity","1");
                        caseid = getURLParameter('CaseId');
                        conid = getURLParameter('SelectedContactID');
                        fromneeds = getURLParameter('FromNeeds');
                        contactname = getURLParameter('clientName');
                        pricon = getURLParameter('PrimaryContactId');
                        var url = window.location.href;
                		var indexurl = url.indexOf('.com')+4;
                        var finalurl = url.substr(0, indexurl)+'/apex/MI_EditAvatar?'+'&CaseId='+caseid+'&SelectedContactID='+conid+'&ImageName='+$(this).attr("name")+'&FromNeeds'+fromneeds+'&clientName'+contactname+'&PrimaryContactId'+pricon;
                        window.history.replaceState(null, null, finalurl);
                     }
            });                                                                           
         });
        
        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
        }
        </script>
    </head>           
    <body>
        <apex:include id="MI_Header_SideNav"  pageName="MI_Header_SideNav"/>
        <div class="container-fluid main-content slds">
            <apex:form id="MainForm">
            <div class="row">
                
                <div class="col-lg-12 col-sm-12 edit-avatar">
                   <span class="slds-icon__container slds-icon-action-edit">
                            <svg aria-hidden="true" class="slds-icon icon__svg slds-icon--large slds-icon-action-edit hidden-xs">
                                <use xlink:href="{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#edit')}"></use>  
                            </svg>
                       		<svg aria-hidden="true" class="slds-icon icon__svg slds-icon-action-edit visible-xs-block">
                                <use xlink:href="{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#edit')}"></use>  
                            </svg>
                        </span>
                    <div class="header-avatar">
                            <p class="headingavatar">{!$Label.X_LABEL_23}</p>
                        	<p id="ContactName" class="sub-heading-avatar"></p>
                        </div>
                  	<div class="col-lg-12 col-sm-12 avatar-image-heading">
                      <p>{!$Label.X_LABEL_137}</p>
                    </div> 
                    <div class="col-lg-12 col-sm-12 profile-images">
                        <div  class= "col-xs-4 col-sm-4 def-profile-images avatar-width-desktop"><img name="avatar2.jpg" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatar2.jpg')}"/></div>
                    </div>
                    <div class="col-lg-12 col-sm-12 profile-images">
                        <div  class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarbb.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarbb.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarbg.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarbg.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarbm.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarbm.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarbw.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarbw.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarhm.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarhm.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarhw.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarhw.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarmb.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarmb.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarmg.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarmg.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarwb.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarwb.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarwg.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarwg.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarwm.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarwm.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatarww.png" class= "indivudal-profile-images-size" src="{!URLFOR($Resource.Clientfolio,'avatars/avatarww.png')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatar1.jpg" class= "indivudual-profile-images-square" src="{!URLFOR($Resource.Clientfolio,'avatars/avatar1.jpg')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatar4.jpg" class= "indivudual-profile-images-square" src="{!URLFOR($Resource.Clientfolio,'avatars/avatar4.jpg')}"/></div>
                        <div class= "col-xs-4 col-sm-4 indivudal-profile-images avatar-width-desktop"><img name="avatar3.jpg" class= "indivudual-profile-images-square" src="{!URLFOR($Resource.Clientfolio,'avatars/avatar3.jpg')}"/></div>
                    </div> 
                    <apex:inputHidden value="{!imagename}" id="imgHiddenField"/>
                    <div class="col-lg-9 savediv">
                        <apex:commandButton value="{!$Label.X_LABEL_33}" action="{!saveimage}"  styleClass="btn-save-avatar"/>
                    </div>           
                </div> 
            </div>
          </apex:form>
        </div>      
    </body>
    
</html>    
</apex:page>