<apex:page controller="MI_Overview_Dashboard" sidebar="false" showHeader="false" docType="html-5.0" standardStylesheets="false">
 <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">  
 <style>
a:link {
    text-decoration: none;
    font-weight:bold;
    color:black !important;
}

a:visited {
    color:black;
    text-decoration: none;
    font-weight:bold;
    
}

a:hover {
    color:black !important;
    text-decoration: underline;
    font-weight:bold;
}

a:active {
    text-decoration: underline;
    font-weight:bold;
    color:black;
}


table{
   width: 70% !important;
}


   .btn-chevron{
       border: 1px solid #ccc;
       border-radius: 4px;
       background-position-x: 94px;
       padding: 5px 34px 5px 10px;
    
       background: url(/resource/1447674269000/IconsLightening/salesforce-lightning-design-system-icons/utility/chevronright_60.png) no-repeat right;
       background-size: 16px;
   
       color: #00396B !important;
       margin-left: 10px;
    
       text-decoration: none !important;
       float: right;
       margin-right: 7%;
    }
                 
   .messageText {
      text-align:center;
   } 
   .cal-icon{
    background: url({!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/utility/event_60.png')}) no-repeat right!important;
    background-size: 1.55em!important;
    background-position: 97% 5px!important;
    padding-right: 2.5%!important;
}
input.form-control.input-date {
    width: 16%;
    display: inline-block;
    margin-bottom: 20px;
}

input.form-control.input-text {
    display: inline-block;
    width: 16%;
}
span.date,span.keyword {
    display: inline-block;
    width: 6%;
    margin-top: 6px;
    margin-right: 20px;
    text-align: right;
}
.btn.btn-search,.btn.btn-clear {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #00396B;
}
span.keyword{
         margin-right: 10px;
     }
@media screen and (min-width: 315px) and (max-width: 767px){
    input.form-control.input-text{
        width: 60%;
    }
    input.form-control.input-date{
         width: 60%;
         padding-top: 3px;
    }
    span.date,span.keyword{
         width: 25%;
        float: left;
     }  
     span.keyword{
         margin-right: 4px;
     }
}             
   </style> 
   <script>
   
    $(document).ready(function(){ 
     $('.btn-search').on('click',function(){
     
       
     
        if( $('.selected-date').val() ||  $('.selected-key').val() )
          { 
             console.log('date val:'+ $('.selected-date').val() );
             console.log('key val:'+$('.selected-key').val() ); 
             $('.err-msg').empty();
             searchfun();
           }  
        else    
             $('.err-msg').text('Please select atleast one criteria');  
     });
     
      $('.btn-clear').on('click',function(){
           $('.err-msg').empty();
           $('.selected-date').val('');
           $('.selected-key').val('');
           clearfun();
                
     });
     
      $('.btn-overdue').on('click',function(){
           $('.err-msg').empty();
           //$('.selected-date').val('');
           //$('.selected-key').val('');
          
                
     });      
     
  });   
  
 
      
 $(document).keypress(
    function(event){
     if (event.which == '13') {
        event.preventDefault();
        if( $('.selected-date').val() ||  $('.selected-key').val() )
           {
            $('.err-msg').empty();
            searchfun();
           }
        if( !$('.selected-date').val() &&  !$('.selected-key').val() )
            {
              console.log('date val:'+ $('.selected-date').val() );
              console.log('key val:'+$('.selected-key').val() );          
                $('.err-msg').text('Please select atleast one criteria');
             
            }  
      }


});
     function setPicker(event){
            if($(event.target).attr('pickloaded')!='true'){
                $(event.target).daterangepicker({
                    timePicker: false,
                    autoApply: true,                     
                    singleDatePicker: true,
                    timePicker24Hour : false, 
                    showDropdowns : true,
                    opens: 'center',locale: {
                        format: 'M/D/YYYY'
                    }
                });
                $(event.target).attr('pickloaded','true');
                $(event.target).click();
            }
        }
    
    
    
    
   </script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
  <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/> 
  <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <apex:include pageName="MI_Header_SideNav"/>
  <div class="main-content">
  <center>
  <apex:form >
   
      
       <div class = "err-msg" style="text-align:center;margin-bottom:20px;" />
       <apex:pageBlock >
        <apex:pageMessages id="ShowMsg"/  > <br/>
       </apex:pageBlock>
       <apex:actionFunction action="{!search}" name="searchfun" rerender="Goal-List,ShowMsg"/>
       <apex:actionFunction action="{!clear}" name="clearfun" rerender="Goal-List,ShowMsg"/>
       
       <apex:commandButton rendered="{!overDueCount>0}" value="You have {!overDueCount} Overdue Family Goals" action="{!overDue}" reRender="Goal-List,ShowMsg" styleClass="btn btn-lg btn-danger btn-overdue" style="width:320px" />  <br/><br/>
       
      
        <span class="date">Date</span>
        <apex:input value="{!selectedDate}" label="Date" styleclass="selected-date form-control cal-icon input-date" onclick="setPicker(event)"/> &nbsp; &nbsp;
        <br/> <br/>
      
        <span class="keyword">Keyword</span>
        <apex:inputText value="{!SelectedKeyword}" styleclass="selected-key form-control input-text" />
        <br/><br/><br/>
        
        <Button type="button"  Class="btn btn-search" >
         Search
         </button>&nbsp; &nbsp;
        <Button type="button"  Class="btn btn-clear" >
         Clear
        </button>  
        
        <hr style="height: 10pt; color: grey; border-width: 5px; margin-left: 10em; margin-right: 10em;"/>
            <br/>
               
        <apex:outputPanel id="Goal-List">
                    
                   <apex:dataTable columns="4" value="{!GoalsList}" var="g" rules="rows" style="margin-top:20px;" >
                     
                     <apex:column >
                        <apex:facet name="header">
                         <apex:commandLink action="{!nameSort}" value="Primary Contact" rerender="Goal-List">
                           <span class="{! nameSortDirection}"></span>
                         </apex:commandLink>
                       </apex:facet>

                      <span style="text-align:left;">
                        <apex:image url="{! IF(g.TS.Parent__C == 'Education', URLFOR($Resource.MI_Images,'MI_Images/hex_7.png'),IF(g.TS.Parent__C == 'Family',URLFOR($Resource.MI_Images,'MI_Images/hex_8.png'),IF(g.TS.Parent__C == 'Employment',URLFOR($Resource.MI_Images,'MI_Images/hex_3.png'),IF(g.TS.Parent__C == 'Housing',URLFOR($Resource.MI_Images,'MI_Images/hex_2.png'),IF(g.TS.Parent__C == 'Nutrition',URLFOR($Resource.MI_Images,'MI_Images/hex_1.png'),IF(g.TS.Parent__C == 'Transport',URLFOR($Resource.MI_Images,'MI_Images/hex_5.png'),IF(g.TS.Parent__C == 'Wellness',URLFOR($Resource.MI_Images,'MI_Images/hex_6.png'),IF(g.TS.Parent__C == 'Health',URLFOR($Resource.MI_Images,'MI_Images/hex_5.png'),IF(g.TS.Parent__C == 'Financial',URLFOR($Resource.MI_Images,'MI_Images/hex_9.png'),IF(g.TS.Parent__C == 'Job',URLFOR($Resource.MI_Images,'MI_Images/hex_10.png'),URLFOR($Resource.MI_Images,'MI_Images/hex_2.png') )))))))))) }" width="40" height="40"/>
                     
                        {!g.TS.Goal__r.Case__r.Primary_Contact_Name__c}
                      </span>
                      
                     </apex:column>
                     
                     <apex:column >
                       <apex:facet name="header">
                         <apex:commandLink action="{!goalSort}" value="Pending Goal " rerender="Goal-List">
                          <span class="{! goalSortDirection}"></span>
                         </apex:commandLink>
                       </apex:facet>
                     
                      <span style="text-align:left;">
                       {!g.TS.Name__c}
                      </span>
                     </apex:column>
                     
                     <apex:column >
                       <apex:facet name="header">
                         <apex:commandLink action="{!DateSort}" value="Due Date" rerender="Goal-List" >
                           <span class="{! DateSortDirection}"></span>
                         </apex:commandLink> 
                         
                                          
                       </apex:facet>

                      <apex:outputPanel rendered="{! g.DueDate != Today()}">
                        <span style="text-align:left;font-weight:bold;color:#33CCFF;">
                          <apex:outputText value="{0,date,MM/dd/yyyy}">
                               <apex:param value="{!g.DueDate}"/>
                          </apex:outputText>                         
                        </span>
                      </apex:outputPanel>
                
                      <apex:outputPanel rendered="{! g.DueDate = Today() }">
                       <span style="text-align:left;font-weight:bold;color:red;">
                          <apex:outputText value="{0,date,hh:mm a}">
                               <apex:param value="{!g.DueDate}"/>
                          </apex:outputText>
                       </span>
                      </apex:outputPanel>
               
                    </apex:column>
                    
                    <apex:column >
                     <apex:facet name="header">
                        <apex:commandLink action="{!StatusSort}" value="Status" rerender="Goal-List">
                           <span class="{! StatusSortDirection}"></span>
                        </apex:commandLink>   
                       </apex:facet>
                      <span style="text-align:left;">
                       {!g.Status}
                      </span>
                      
                     </apex:column>
                   </apex:dataTable>  
                   </apex:outputPanel>  
           
    </apex:form>
   </center>
   </div>  
  </html>
  </apex:page>