<apex:page sidebar="false" showheader="false" standardStylesheets="false" controller="CommunitiesLoginController">
    <html lang="en">
      <head>
        <meta charset="iso-8859-1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Michigan Treasury Online - Create User Profile</title>
        <!-- Bootstrap-->
        <apex:stylesheet value="{!URLFOR($Resource.Register_Page, 'resource/bootstrap/css/bootstrap.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.Register_Page, 'resource/bootstrap/css/bootstrap-theme.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.Register_Page, 'resource/bootstrap/css/font-awesome.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.Register_Page, 'resource/bootstrap/css/styles.css')}"/>
        <!-- Icons-->
        <link rel="shortcut icon" href="{!URLFOR($Resource.Register_Page, 'resource/images/favicon.ico')}"/>
        <!-- Custom-->
        <apex:stylesheet value="{!URLFOR($Resource.Register_Page, 'resource/css/micam-custom-bootstrap.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.Register_Page, 'style.css')}"/>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
        <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
        <!--if lt IE 9
        script(src='/uisecure//mtoselfservice/resource/js/shiv/html5shiv.js')
        script(src='/uisecure//mtoselfservice/resource/js/respond/respond.js')
        script(src='/uisecure//mtoselfservice/resource/js/custom/compatibility.js')
        script(src='/uisecure//mtoselfservice/resource/js/validate/jquery.h5validate.js')
        script.
          $(document).ready(function () {
          $('form').h5Validate();
          });
        
        -->
        <apex:includeScript value="{!URLFOR($Resource.Register_Page, 'resource/jquery/jquery-1.11.2.min.js')}"/>
        <!-- Feature Detection JS-->
        <apex:includeScript value="{!URLFOR($Resource.Register_Page, 'resource/bootstrap/js/head.core.min.js')}"/>
        <script type="text/javascript">
          //<![CDATA[
          try{(function(){var w=self,l,p,o;if(w&&top){for(;w!==top&&(p=w.parent)&&p!==w&&(o=p.location)&&o.protocol===(l=w.location).protocol&&(o.host===l.host||(p.document&&p.document.domain===w.document.domain));w=p);if(w!==top)throw "";}({f:function(){document.documentElement?document.documentElement.style.display="":(!this.a&&(this.a=10),this.a<1E5&&(window.sfdcRetryShowWindow=this)&&setTimeout("sfdcRetryShowWindow.f()",this.a),this.a*=2)}}.f())})();}catch(e){if(top!==self)top.location=location;else throw e;}//]]>
        </script>
        <style>
        @font-face {
          font-family: "Salesforce Sans Light";
          src: url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-Light.woff2')}) format("woff2"), url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-Light.woff')}) format("woff");
          font-weight: 300; 
        }
        @font-face {
          font-family: "Salesforce Sans LightItalic";
          src: url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-LightItalic.woff2')}) format("woff2"), url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-LightItalic.woff')}) format("woff");
          font-style: italic;
          font-weight: 300; 
        }
        @font-face {
          font-family: "Salesforce Sans Regular";
          src: url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-Regular.woff2')}) format("woff2"), url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-Regular.woff')}) format("woff");
          font-weight: 400; 
        }
        @font-face {
          font-family: "Salesforce Sans Italic";
          src: url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-Italic.woff2')}) format("woff2"), url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-Italic.woff')}) format("woff");
          font-style: italic;
          font-weight: 400; 
        }
        @font-face {
          font-family: "Salesforce Sans Bold";
          src: url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-Bold.woff2')}) format("woff2"), url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-Bold.woff')}) format("woff");
          font-weight: 700; 
        }
        @font-face {
          font-family: "Salesforce Sans BoldItalic";
          src: url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-BoldItalic.woff2')}) format("woff2"), url({!URLFOR($Resource.FontsLightning, 'fonts/webfonts/SalesforceSans-BoldItalic.woff')}) format("woff");
          font-style: italic;
          font-weight: 700; 
        }
        html body{
          font-family: "Salesforce Sans Regular", Arial, sans-serif;
        }
        .landing-logo{
            text-align: center;
        }
        .landing-logo img {
            width: 125px;
        }
        .LogoutButton{
            border-radius: 5px;
            width:75px;
            margin-left:15px;
            margin-bottom:5px;
            background-color:#005FB2;
            padding: 0;
            color:white;
            border:0;
        }
        .LogoutButton:hover{
           color:white;
           text-decoration: none;
           background-color:#0086F1;
        }
        .form-btn input{
            height: 30px;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            font-family: 'Salesforce Sans Regular';
            padding-top:2px;
            padding-left:4px;
            font-size: 14px;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            padding-left:4px;
            font-size: 14px;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            padding-left:4px;
            font-size: 14px;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            padding-left:4px;
            font-size: 14px;
        }
        </style>
      </head>
      <body><a href="register.html#content" tabindex="1" class="skip padded-2">Skip to content</a>
        <!-- START: Modal for loading screen-->
        <div id="loadingScreenModal" tabindex="-1" role="dialog" aria-labelledby="loadingScreenModalLabel" class="modal fade">
          <div role="document" class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 id="loadingScreenModalLabel" class="modal-title">Please Wait...</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="progress">
                      <div role="progressbar" aria-valuenow="100" style="width: 100%" class="progress-bar progress-bar-striped active"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END: Modal for loading screen-->
        <!-- Wrapper-->
        <div class="wrapper">
          <!-- Header-->
          <div class="custom-header-wrapper">
            <div class="container-fluid">
              <form id="j_id0:MainForm" name="j_id0:MainForm" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="j_id0:MainForm" value="j_id0:MainForm"/>
                <apex:form id="MainForm" >
              <apex:pageMessage id="errormsg" severity="error" summary="Username or password entered is incorrect" rendered="{!isLoginFailed}"/>
              <div class="row">
                    <div class="col-md-5 col-xs-3">
                        <div class="question-div" style="margin-top:11px;">
                            <div style="float:left;" class="slds-media__figure">
                                <img class="question-logo" width="23px" height="35px" src="{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/Help.svg')}"/>
                            </div>
                            <p class="hidden-xs" style="font-size: 12px; color:#4399bc; font-family:'Salesforce Sans Light';float: left;margin-left: 8px;">Need Help?<a href=""><br/> Contact Us ></a></p>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-6 landing-logo">
                        <img src="{!URLFOR($Resource.MI_Images,'MI_Images/MiPath-Logos.svg')}"/>
                    </div>
                    <div class="col-md-5" style="text-align:right;">
                        <div style="margin-top:11px;" class="form-inline form-btn" id="open-login">
                            <apex:inputText style="border-radius:5px;width:140px;" value="{!userName}" html-placeholder="Username" styleClass="form-control form-login-name"/>
                            <apex:inputSecret style="border-radius:5px;width:140px;margin-left:15px;" value="{!Password}" html-placeholder="Password" styleClass="form-control form-login-pwd"/>
                            <apex:commandButton style="" value="Log in" action="{!login}"  styleClass="LogoutButton"/>
                            <apex:commandButton style="" value="Register" action="{!Register}"  styleClass="LogoutButton"/> 
                        </div>
                    </div>
                </div>
                </apex:form>
              </form>
            </div>
          </div>
          <!-- Top Navigation Bar--><a name="content"></a>
          <!-- Content-->
          <div ui-view="content" class="container">
            <div class="row">
              <div class="col-md-7">
                <h1>Create User Profile</h1>
                <p>Enter your profile information.</p>
              </div>
              <div class="col-md-5">
                <div style="display : block" class="wayfinder-horizontal">
                  <ul>
                    <li id="1201" style="width: 32%;" class="active"><span>1</span>Profile<br/>Information</li>
                    <li id="1202" style="width: 32%;"><span>2</span>Choose Username</li>
                    <li id="1203" style="width: 32%;"><span>3</span>Confirmation</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-12">
                    <h2>Profile Information</h2>
                    <p class="required-banner"><span>*</span>Required</p>
                  </div>
                </div>
              </div>
              <!-- class="panel-heading"-->
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <form id="step1-form" autocomplete="off">
                      <!-- Errors Start-->
                      <div id="server-error" style="display: none" class="row">
                        <div class="col-md-12">
                          <div class="alert alert-danger">
                            <h4>Errors</h4>
                            <ul id="errors"></ul>
                          </div>
                        </div>
                      </div>
                      <!-- Errors End-->
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="firstName"><span>*</span>First Name</label>
                            <input id="firstName" name="firstName" tabindex="10" aria-required="true" type="text" value="" maxlength="64" autocomplete="off" class="form-control"/>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="middleInitial">Middle Initial</label>
                            <input id="middleInitial" name="middleInitial" tabindex="10" type="text" value="" maxlength="1" autocomplete="off" class="form-control"/>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="lastName"><span>*</span>Last Name</label>
                            <input id="lastName" name="lastName" tabindex="10" aria-required="true" type="text" value="" maxlength="64" autocomplete="off" class="form-control"/>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label for="suffix">Suffix</label>
                            <input id="suffix" name="suffix" tabindex="10" type="text" value="" maxlength="5" autocomplete="off" class="form-control"/>
                            <!--
                            <select id="suffix" name="suffix" aria-required="true" class="form-control" name="suffix">
                            <option selected value="">--Select Suffix--</option>
                            <option value="Jr.">Jr.</option>
                            <option value="Sr.">Sr.</option>
                            <option value="I">I</option>
                            <option value="II">II</option>
                            </select>
                            -->
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group margin-b-25-small">
                            <label for="email"><span>*</span>Email Address</label>
                            <input id="email" name="email" tabindex="11" type="text" value="" autocomplete="off" class="form-control"/>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group margin-b-25-small-2">
                            <label for="confirmEmail"><span>*</span>Confirm Email Address</label>
                            <input id="confirmEmail" name="confirmEmail" tabindex="11" type="text" value="" autocomplete="off" class="form-control"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <div style="margin-top:5px;" class="alert alert-info">
                            <p class="instruction">To reset the forgotten password, you can receive a temporary personal identification number (PIN) to above email address.</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group margin-b-25-small">
                            <label for="phone"><span>*</span>Phone Number</label>
                            <input id="phone" name="phone" tabindex="12" type="tel" value="" maxlength="12" autocomplete="off" class="form-control"/>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group margin-b-25-small-2">
                            <label for="mobile">Mobile Number</label>
                            <input id="mobile" name="mobile" tabindex="12" type="tel" value="" maxlength="12" autocomplete="off" class="form-control"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8">
                          <div style="margin-top:5px;" class="alert alert-info">
                            <p class="instruction">To reset the forgotten password, you can choose to receive a temporary PIN on your mobile device as a text.</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div style="margin-bottom:1px;" class="form-group">
                            <label for="captchaBox"><span>*</span>Verification Question:&nbsp;What is the 2nd color in the list pink, house and purple?</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <input id="captchaBox" name="captchaBox" tabindex="13" aria-required="true" type="text" value="" maxlength="12" autocomplete="off" class="form-control"/>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div style="line-height:1.1;" class="checkbox">
                            <label for="agreement">
                              <input id="agreement" type="checkbox" name="agreement" aria-required="true" autocomplete="off" tabindex="14"/><span>*</span>I agree to the <a href="javascript:void(0);" target="_blank">terms&nbsp;&amp;&nbsp;conditions.</a>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div style="margin-bottom:20px; margin-top:20px;" class="row">
                        <input id="refreshed" type="hidden" value="no"/>
                        <div class="col-md-2">
                          <button id="next-btn" type="button" href="javascript:void(0);" tabindex="16" class="btn btn-block btn-primary">Next</button>
                        </div>
                        <div class="col-md-2 padded-tb-10-sm"><a id="reset-btn" href="javascript:void(0)" tabindex="17" class="btn btn-block btn-default">Back</a></div>
                        <div id="ajax-img" style="display: none;" class="col-md-1 col-xs-12 text-center padded-tb-10-sm"><img src="{!URLFOR($Resource.Register_Page, 'resource/images/ajax-loader-circle.gif')}" alt="loading spinner animated image"/></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- class="panel-body"-->
            </div>
            <!-- class="panel panel-default"-->
          </div>
          <!-- class="container" ui-view="content"-->
        </div>
        <!-- Footer-->
        <!--<div class="container" role="contentinfo">
        -->
        <center><img src="{!URLFOR($Resource.Register_Page, 'resource/images/MTOMILogin.Grey.png')}" alt="MILogin" class="imagePoweredBy responsive"/></center>
        <!-- Footer-->
        <div ui-view="footer">
          <footer class="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-4"><a href="http://www.michigan.gov/som" target="_blank" tabindex="20" title="http://www.michigan.gov/som" class="brand"></a>
                  <!--
                  <ul class="social-media">
                  <li><a href="javascript:void(0);" class="facebook" title="Michigan.gov Facebook" target="_blank" tabindex="20">Michigan.gov Facebook</a></li>
                  <li><a href="javascript:void(0);" class="twitter" title="Michigan.gov Twitter" target="_blank" tabindex="20">Michigan.gov Twitter</a></li>
                  <li><a href="javascript:void(0);" class="youtube" title="Michigan.gov Youtube" target="_blank" tabindex="20">Michigan.gov Youtube</a></li>
                  <li><a href="javascript:void(0);" class="mail" title="Michigan.gov Mail" target="_blank" tabindex="20">Michigan.gov Mail</a></li>
                  </ul>
                  -->
                </div>
                <div class="col-md-8">
                  <div class="links-copy">
                    <ul class="navigation">
                      <li><a href="javascript:void(0);" tabindex="21" title="MTO Home">MTO Home</a></li>
                      <li><a href="javascript:void(0);" target="_blank" title="Contact Us" tabindex="21">Contact Us</a></li>
                      <!-- <li><a href="javascript:void(0);" target="_blank" title="Site Map" tabindex="21">Site Map</a></li>-->
                      <li><a href="javascript:void(0);" target="_blank" title="Policies" tabindex="21">Policies</a></li>
                      <!--
                      <li><a href="javascript:void(0);" target="_blank" title="FOIA Request" tabindex="21">FOIA Request</a></li>
                      <li><a href="javascript:void(0);" target="_blank" title="Disability resource" tabindex="21">Disability resource</a></li>
                      -->
                    </ul>
                    <!--
                    <ul class="additional">
                    <li><a href="javascript:void(0);" title="CALL 24x7: 555-555-5555" tabindex="-1">CALL 24x7: 555-555-5555</a></li>
                    <li><a href="javascript:void(0);" title="Chat" target="_blank" tabindex="22">Chat</a></li>
                    <li><a href="javascript:void(0);" title="Michigan.gov Survey" target="_blank" tabindex="22">Michigan.gov Survey</a></li>
                    <li><a href="javascript:void(0);" title="Help Us Improve" target="_blank" tabindex="22">Help Us Improve</a></li>
                    </ul>
                    -->
                    <ul class="copyright">
                      <!-- <li><a href="javascript:void(0);" title="Michigan's Official Website" tabindex="23">Michigan's Official Website</a></li>-->
                      <li>Copyright 2015 State of Michigan</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <!-- Loading of JS modules-->
        <!-- Include all compiled plugins (below), or include individual files as needed-->
        <apex:includeScript value="{!URLFOR($Resource.Register_Page, 'resource/bootstrap/js/bootstrap.min.js')}"/>
        <!-- jQuery Validate Plugin-->
        <apex:includeScript value="{!URLFOR($Resource.Register_Page, 'resource/js/validate/jquery.validate.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.Register_Page, 'resource/js/validate/additional-methods.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.Register_Page, 'resource/js/custom/micam-forms-validate.js')}"/>
        <!-- micam custom ui js-->
        <apex:includeScript value="{!URLFOR($Resource.Register_Page, 'resource/js/custom/micam-custom-ui.js')}"/>
        <!-- micam mask js-->
        <apex:includeScript value="{!URLFOR($Resource.Register_Page, 'resource/js/custom/jquery.mask.js')}"/>
        <script type="text/javascript">
          $(document).ready(function(){
          $("input.error").closest('div').addClass('has-error');
          });
        </script>
      </body>
    </html>
</apex:page>