<apex:page standardStylesheets="false" showHeader="false" sidebar="false" DocType="html-5.0" cache="false" apiVersion="29" controller="MI_WIC">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <apex:stylesheet value="{!URLFOR($Resource.SLDS092, '/assets/styles/salesforce-lightning-design-system-vf.min.css')}"/>
            <apex:includeScript value="{!$Resource.jquery11}"/>
                <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
                
                <apex:includeScript value="{!URLFOR($Resource.SVG_EVERYBODY, 'svg4everybody-master/dist/svg4everybody.js')}" />
                    <apex:includeScript value="{!URLFOR($Resource.SVG_EVERYBODY, 'svg4everybody-master/dist/svg4everybody.legacy.js')}" />
                        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                        <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
                        <head>
                            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
                            <!-- Latest compiled and minified CSS -->
                            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
                            <apex:stylesheet value="{!$Resource.services_style}"/>
                                <style>
                                .person-prop {
                                    font-weight: bold;
                                }
                                @media screen and (min-width: 315px) and (max-width: 767px) {
                                    .panel-heading > a {
                                        font-size: 0.7em;
                                    }
                                }

                                </style>
                                
                                <script type="text/javascript">
                                // $(document).ready(function(){
                                // // Initialize popover
                                // //    $('.help-btn > [data-toggle="popover"]').popover();
                                // });
                                </script>
                                <title>WIC</title>
                            </head>
                            <body>
                                <apex:include id="MI_Header_SideNav"  pageName="MI_Header_SideNav"/>
                                    <div class="main-content">
                                        <div class="jumbotron">
                                            <span class="logo">
                                                <span class="slds-icon__container">
                                                    <svg aria-hidden="true" class="slds-icon icon__svg slds-icon--large slds-icon-standard-contact">
                                                        <use xlink:href="{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/standard-sprite/svg/symbols.svg#household')}"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                            <span class="title">Women, Infant and Child</span>
                                            <br />
											<span class="family-name">{!ContactName} Family</span>
                                        </div>
                                        <div class="container">
                                            <apex:include id="MI_Services_Secondary_Headers"  pageName="MI_Services_Secondary_Headers"/>
                                                <div class="benefits-container row">
                                                    <div class="col-md-8">
                                                        <ul class="nav nav-tabs">
                                                            <li class="active"><a data-toggle="tab" href="#benefit-1">Food Benefits</a></li>
                                                            <li><a data-toggle="tab" href="#benefit-2">Immunization Benefits</a></li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div id="benefit-1" class="tab-pane fade in active">
                                                                <div class="table-container">
                                                                    <div class="table-title">
                                                                        Food Package
                                                                    </div>
                                                                    <div class="table">
                                                                        <div class="thead hidden-xs">
                                                                            <div class="row">
                                                                                <div class="col-md-4 col-name">Food</div>
                                                                                <div class="col-md-4 col-name">Balance</div>
                                                                                <div class="col-md-4 col-name">Maximum Allowed</div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tbody">
                                                                            <div class="row">
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Food</div>
                                                                                <div class="col-xs-6 col-md-4">Juice, Single Strength</div>
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Balance</div>
                                                                                <div class="col-xs-6 col-md-4">64 fl oz</div>
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Maximum Allowed</div>
                                                                                <div class="col-xs-6 col-md-4">128 fl oz</div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Food</div>
                                                                                <div class="col-xs-6 col-md-4">Milk</div>
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Balance</div>
                                                                                <div class="col-xs-6 col-md-4">8 qt</div>
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Maximum Allowed</div>
                                                                                <div class="col-xs-6 col-md-4">16 qt</div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Food</div>
                                                                                <div class="col-xs-6 col-md-4">Breakfast Cereal</div>
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Balance</div>
                                                                                <div class="col-xs-6 col-md-4">12 oz</div>
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Maximum Allowed</div>
                                                                                <div class="col-xs-6 col-md-4">36 oz</div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Food</div>
                                                                                <div class="col-xs-6 col-md-4">Eggs</div>
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Balance</div>
                                                                                <div class="col-xs-6 col-md-4">0</div>
                                                                                <div class="col-xs-6 hidden-md hidden-lg col-name">Maximum Allowed</div>
                                                                                <div class="col-xs-6 col-md-4">1 dozen</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6 helpful-links-container">
                                                                        <div class="helpful-links-title">Helpful Links</div>
                                                                        <div class="helpful-links"><a href="http://www.fns.usda.gov/wic/wic-food-packages-maximum-monthly-allowances" target="_blank">View Full List of WIC Food Packages &gt;</a></div>
                                                                        <div class="helpful-links"><a href="http://health.gov/dietaryguidelines/2015/guidelines/" target="_blank">USDA Food and Nutrition Services Guidelines &gt;</a></div>
                                                                        <div class="helpful-links"><a href="http://www.cdc.gov/vaccines/parents/downloads/parent-ver-sch-0-6yrs.pdf" target="_blank">CDC Vaccine Schedule &gt;</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="benefit-2" class="tab-pane fade">
                                                            <apex:outputPanel rendered="{!(WICKidsCount>0)}">    
                                                                	<ul class="nav nav-tabs">
                                                                        <apex:variable var="WICKidsRowCounterPage" value="{!0}"/>
                                                                        <apex:repeat value="{!WICKids}" var="KidDisp">
                                                                        <apex:variable var="contactimg" value="{!IF(KidDisp.Contact.ContactImageName__c != "",KidDisp.Contact.ContactImageName__c,'avatar2.jpg')}"/>
                                                                        <li id="contact-{!WICKidsRowCounterPage}">
                                                                            <a data-toggle="tab" href="#person-{!WICKidsRowCounterPage}">
                                                                                <span class="slds-icon__container slds-icon-standard-empty hidden-xs">
                                                                                    <apex:image url="{!URLFOR($Resource.MI_Images,'MI_Images/'+contactimg)}" styleClass="slds-icon icon__svg slds-icon--large"/>
                                                                                    <!--<svg aria-hidden="true" class="slds-icon icon__svg slds-icon--large">
                                                                                        <use xlink:href="{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/utility-sprite/svg/symbols.svg#user')}"></use>
                                                                                    </svg>-->
                                                                                </span>
                                                                                <br />
                                                                                <span>{!KidDisp.Contact.Name}</span>
                                                                            </a>
                                                                        </li>
                                                                        <apex:variable var="WICKidsRowCounterPage" value="{!WICKidsRowCounterPage+1}"/>    
                                                                        </apex:repeat>    
                                                                        <!--<li><a data-toggle="tab" href="#person-2">
                                                                            <span class="slds-icon__container slds-icon-standard-empty">
                                                                                <svg aria-hidden="true" class="slds-icon icon__svg slds-icon--large">
                                                                                    <use xlink:href="{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/utility-sprite/svg/symbols.svg#user')}"></use>
                                                                                </svg>
                                                                            </span>
                                                                            <br />
                                                                            <span>Ethan Williams</span></a></li>-->
                                                                    </ul>
                                                                
                                                                	<script>
                                                                		$('#contact-0').addClass('active');
                                                                	</script>
                                                                
                                                                    <div class="tab-content">
                                                                        <apex:variable value="{!0}" var="NewCounter"/>
                                                                        <apex:repeat var="ListVarRpt" value="{!WICKidsRowCounter}">
                                                                        <div id="person-{!NewCounter}" class="tab-pane fade in active">
                                                                            <div class="row">
                                                                                <div class="col-md-2 col-xs-4 person-prop">Birthdate</div>
                                                                                <div class="col-md-2 col-xs-8 person-val">
                                                                                    <c:mfsi_formatdatetime date_Timevalue="{!WICKids[NewCounter].Contact.BirthDate}" date_time_format="MMM dd YYYY"/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-2 col-xs-4 person-prop">Age</div>
                                                                                <div class="col-md-2 col-xs-8 person-val">
                                                                                    <apex:outputText value="{!IF((true),IF((true),IF((DAY(Today())<DAY(WICKids[NewCounter].Contact.BirthDate)),(-1+YEAR( TODAY())*12+MONTH(TODAY())) - (YEAR(WICKids[NewCounter].Contact.BirthDate)*12+MONTH(WICKids[NewCounter].Contact.BirthDate)),(YEAR( TODAY())*12+MONTH(TODAY())) - (YEAR(WICKids[NewCounter].Contact.BirthDate)*12+MONTH(WICKids[NewCounter].Contact.BirthDate))),(YEAR( TODAY())*12+MONTH(TODAY())) - (YEAR(WICKids[NewCounter].Contact.BirthDate)*12+MONTH(WICKids[NewCounter].Contact.BirthDate))),(YEAR( TODAY())*12+MONTH(TODAY())) - (YEAR(WICKids[NewCounter].Contact.BirthDate)*12+MONTH(WICKids[NewCounter].Contact.BirthDate)))} months"/>
                                                                                    <!--<apex:outputText value="{!IF((true),IF((true),IF((DAY(Today())<DAY(WICKids[NewCounter].Contact.BirthDate)),(-1+YEAR( TODAY())*12+MONTH(TODAY())) - (YEAR(WICKids[NewCounter].Contact.BirthDate)*12+MONTH(WICKids[NewCounter].Contact.BirthDate)),(YEAR( TODAY())*12+MONTH(TODAY())) - (YEAR(WICKids[NewCounter].Contact.BirthDate)*12+MONTH(WICKids[NewCounter].Contact.BirthDate))),(YEAR( TODAY())*12+MONTH(TODAY())) - (YEAR(WICKids[NewCounter].Contact.BirthDate)*12+MONTH(WICKids[NewCounter].Contact.BirthDate))),(YEAR( TODAY())*12+MONTH(TODAY())) - (YEAR(WICKids[NewCounter].Contact.BirthDate)*12+MONTH(WICKids[NewCounter].Contact.BirthDate)))}"/>-->
                                                                                    <!-- working {!(YEAR( TODAY())*12+MONTH(TODAY())) - (YEAR(WICKids[NewCounter].Contact.BirthDate)*12+MONTH(WICKids[NewCounter].Contact.BirthDate))} months-->
                                                                                    <!--{!WICKids[NewCounter].Contact.Age__c}
                                                                                    {!ABS((12*(YEAR(WICKids[NewCounter].Contact.BirthDate)-YEAR(TODAY())))+(MONTH(WICKids[NewCounter].Contact.BirthDate)-MONTH(TODAY())))} months
                                                                                    {!(MONTH((WICKids[NewCounter].Contact.BirthDate))-MONTH(TODAY()))} months
                                                                                    <apex:outputText value="{!ABS((12*(YEAR(WICKids[NewCounter].Contact.BirthDate)-YEAR(TODAY())))+(MONTH(WICKids[NewCounter].Contact.BirthDate)-MONTH(TODAY())))} months"/>
                                                                                    <apex:outputText value="{!IF((DAY(WICKids[NewCounter].Contact.BirthDate)>=DAY(TODAY())),ABS((12*(YEAR(TODAY()-YEAR(WICKids[NewCounter].Contact.BirthDate))))+(MONTH(WICKids[NewCounter].Contact.BirthDate)-MONTH(TODAY()))-1),ABS((12*(YEAR(WICKids[NewCounter].Contact.BirthDate)-YEAR(TODAY())))+(MONTH(WICKids[NewCounter].Contact.BirthDate)-MONTH(TODAY()))))} months"/>-->
                                                                                </div>
                                                                            </div>
                                                                            
                                                                            <!--<div class="row">
                                                                                <div class="col-md-2 person-prop">Birthdate</div>{!WICKids[0].Contact.BirthDate}
                                                                                <div class="col-md-2 person-val">June 29 2014</div>{!WICKids[0].Contact.Age__c}
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-2 person-prop">Age</div>
                                                                                <div class="col-md-2 person-val">13 months</div>
                                                                            </div>-->
                                                                            <div class="table-container">
                                                                                <div class="table-title">
                                                                                    Upcoming Immunization dates
                                                                                </div>
                                                                                <div class="table-description">
                                                                                    Next set of immunizations for age 6 months
                                                                                </div>
                                                                                <div class="table">
                                                                                    <div class="thead hidden-xs">
                                                                                        <div class="row">
                                                                                            <div class="col-md-4 col-name">Vaccine</div>
                                                                                            <div class="col-md-4 col-name">Dose Information</div>
                                                                                            <div class="col-md-4 col-name">Recommended Date</div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="tbody">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">DTaP</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 3 of 5</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Recommended Date</div>
                                                                                            <div class="col-xs-6 col-md-4">Feb 21, 2016</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Polio (IPV)</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 3 of 3</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Recommended Date</div>
                                                                                            <div class="col-xs-6 col-md-4">Feb 21, 2016</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Hib</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 5</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Recommended Date</div>
                                                                                            <div class="col-xs-6 col-md-4">Feb 21, 2016</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Rotavirus</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 3</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Recommended Date</div>
                                                                                            <div class="col-xs-6 col-md-4">Feb 2, 2016 - May 3, 2017</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Pneumococcal conjugate (PCV13)</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 1 of 5</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Recommended Date</div>
                                                                                            <div class="col-xs-6 col-md-4">Feb 2, 2016 - May 3, 2017</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="panel-group">
                                                                                <div class="panel panel-default">
                                                                                    <div class="panel-heading">
                                                                                        <a data-toggle="collapse" href="#collapse{!NewCounter}">View all remaining Immunizations<span class="caret"></span></a>
                                                                                    </div>
                                                                                    <div id="collapse{!NewCounter}" class="panel-collapse collapse">
                                                                                        <div class="table-container panel-body">
                                                                                            <div class="table-title">
                                                                                                12 months
                                                                                            </div>
                                                                                            <div class="table">
                                                                                                <div class="thead hidden-xs">
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-4 col-name">Vaccine</div>
                                                                                                        <div class="col-md-4 col-name">Dose Infomation</div>
                                                                                                        <div class="col-md-4 col-name">Dose Administration</div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="tbody">
                                                                                                    <div class="row">
                                                                                                        <div class="col-xs-12 col-md-4">HepB</div>
                                                                                                        <div class="col-xs-12 col-md-4">Dose 2 of 3</div>
                                                                                                        <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                                        <div class="col-xs-6 col-md-4">Aug 12, 2016</div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-xs-12 col-md-4">Polio (IPV)</div>
                                                                                                        <div class="col-xs-12 col-md-4">Dose 2 of 4</div>
                                                                                                        <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                                        <div class="col-xs-6 col-md-4">Aug 12, 2016</div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-xs-12 col-md-4">Influenza</div>
                                                                                                        <div class="col-xs-12 col-md-4">Yearly vaccine upto age 4</div>
                                                                                                        <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                                        <div class="col-xs-6 col-md-4">Aug 12, 2016</div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-xs-12 col-md-4">DTaP</div>
                                                                                                        <div class="col-xs-12 col-md-4">Dose 2 of 5</div>
                                                                                                        <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                                        <div class="col-xs-6 col-md-4">Aug 12, 2016</div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-xs-12 col-md-4">Hib</div>
                                                                                                        <div class="col-xs-12 col-md-4">Dose 2 of 5</div>
                                                                                                        <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                                        <div class="col-xs-6 col-md-4">Aug 12, 2016</div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="table-container panel-body">
                                                                                            <div class="table-title">
                                                                                                15 months
                                                                                            </div>
                                                                                            <div class="table">
                                                                                                <div class="thead hidden-xs">
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-4 col-name">Vaccine</div>
                                                                                                        <div class="col-md-4 col-name">Dose Infomation</div>
                                                                                                        <div class="col-md-4 col-name">Dose Administration</div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="tbody">
                                                                                                    <div class="row">
                                                                                                        <div class="col-xs-12 col-md-4">DTaP</div>
                                                                                                        <div class="col-xs-12 col-md-4">Dose 2 of 5</div>
                                                                                                        <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                                        <div class="col-xs-6 col-md-4">Nov 12, 2016</div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-xs-12 col-md-4">Hib</div>
                                                                                                        <div class="col-xs-12 col-md-4">Dose 2 of 5</div>
                                                                                                        <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                                        <div class="col-xs-6 col-md-4">Nov 12, 2016</div>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-xs-12 col-md-4">Polio (IPV)</div>
                                                                                                        <div class="col-xs-12 col-md-4">Dose 2 of 4</div>
                                                                                                        <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                                        <div class="col-xs-6 col-md-4">Nov 12, 2016</div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="table-title">Past Immunizations</div>
                                                                            <div class="table-container">
                                                                                <div class="table-title">
                                                                                    4 months
                                                                                </div>
                                                                                <div class="table">
                                                                                    <div class="thead hidden-xs">
                                                                                        <div class="row">
                                                                                            <div class="col-md-4 col-name">Vaccine</div>
                                                                                            <div class="col-md-4 col-name">Dose Infomation</div>
                                                                                            <div class="col-md-4 col-name">Dose Administration</div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="tbody">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">HepB</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 3</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Dec 12, 2015</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Polio (IPV)</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 4</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Dec 12, 2015</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Influenza</div>
                                                                                            <div class="col-xs-12 col-md-4">Yearly vaccine upto age 4</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Dec 12, 2015</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">DTaP</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 5</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Dec 12, 2015</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Hib</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 5</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Dec 12, 2015</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="table-container">
                                                                                <div class="table-title">
                                                                                    2 months
                                                                                </div>
                                                                                <div class="table">
                                                                                    <div class="thead hidden-xs">
                                                                                        <div class="row">
                                                                                            <div class="col-md-4 col-name">Vaccine</div>
                                                                                            <div class="col-md-4 col-name">Dose Infomation</div>
                                                                                            <div class="col-md-4 col-name">Dose Administration</div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="tbody">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">HepB</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 3</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Oct 12, 2015</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Polio (IPV)</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 4</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Oct 12, 2015</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Influenza</div>
                                                                                            <div class="col-xs-12 col-md-4">Yearly vaccine upto age 4</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Oct 12, 2015</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">DTaP</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 5</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Oct 12, 2015</div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-xs-12 col-md-4">Hib</div>
                                                                                            <div class="col-xs-12 col-md-4">Dose 2 of 5</div>
                                                                                            <div class="col-xs-6 hidden-md hidden-lg col-name">Dose Administration</div>
                                                                                            <div class="col-xs-6 col-md-4">Oct 12, 2015</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-6 helpful-links-container">
                                                                                    <div class="helpful-links-title">Helpful Links</div>
                                                                                    <div class="helpful-links"><a href="http://www.cdc.gov/vaccines/parents/downloads/parent-ver-sch-0-6yrs.pdf" target="_blank">CDC Vaccine Schedule &gt;</a></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <apex:variable value="{!NewCounter+1}" var="NewCounter"/>    
                                                                        </apex:repeat>
                                                                        <!--<div id="person-2" class="tab-pane fade">
                                                                            <div class="row">
                                                                                <div class="col-md-2 person-prop">Birthdate</div>
                                                                                <div class="col-md-2 person-val">June 29 2014</div>
                                                                            </div>
                                                                        </div>-->
                                                                    </div>
                                                                </apex:outputPanel>
                                                                <apex:outputPanel rendered="{!!(WICKidsCount>0)}">
                                                                    There are currently no eligible children in the family.
                                                                </apex:outputPanel>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </body>
                                    </html>
                                </apex:page>