<apex:component controller="CitizenSuccessPlanCtrl">
<apex:form >
<apex:actionFunction name="refreshTimeline2" action="{!dummyMethod}" rerender="timelinePanel2" oncomplete=""/>
	<apex:outputPanel layout="block" id="timelinePanel2">

		<ul id="sortable" class="nav nav-tabs" role="tablist">
            <apex:variable var="tabCounter" value="{!1}"/>
	        <apex:repeat value="{!categoryGoalMap}" var="catg">
	            <li role="presentation" class="citizen-timeline {!IF(tabCounter==1,'active','')}" id="{!LEFT(catg,5)}">
	                <a class="domain-timeline" href="#{!LEFT(catg,5)}-content" aria-controls="{!LEFT(catg,5)}-content" role="tab" data-toggle="tab">
	                    <span tab-name-override="{!catg}" tab-name="true">{!catg}</span>
	                </a>
	            </li>
                <apex:variable var="tabCounter" value="{!tabCounter+1}"/>
	        </apex:repeat>                      
	    </ul>
        <div xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="panel-group timeline-module" id="accordion" role="tablist">
	    <div class="tab-content slds-m-top--medium success-plan">
            <apex:variable var="tabCounter" value="{!1}"/>
				<apex:repeat value="{!categoryGoalMap}" var="catg">
                    <div id="{!LEFT(catg,5)}-content" class="tab-pane {!IF(tabCounter==1,'active','')}">
                    <div class="category-heading">
                    	Success Plan for {!catg}
                    </div>
                    <div class="category-sub-heading">
                    	Click each domain to view the steps to achieve each goal
                    </div>
					<apex:repeat value="{!categoryGoalMap[catg]}" var="goal">
						<apex:repeat value="{!goalsMap[goal]}" var="milestone">
							<div class="panel panel-default timeline-box-panel">
						        <div class="service-header outer-part text-title-theme collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#acc-{!milestoneMap[milestone].id}" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="timeline-goal-header">
                                        <div class="notify">
                                        
                                            <!-- <span class="slds-icon__container">
                                                <svg aria-hidden="true" class="slds-icon icon__svg shelter-service-icon slds-icon--small">
                                                <use xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/standard-sprite/svg/symbols.svg#home"></use>
                                                </svg>
                                            </span> -->

                                            <!-- <span class="slds-icon__container">
                                                <svg aria-hidden="true" class="slds-icon icon__svg shelter-service-icon slds-icon--small">
                                                <use xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/{!IF(milestoneMap[milestone].Goal__r.Domain__c == 'Food',food,'')}"></use>
                                                </svg>
                                            </span> -->

                                            <span class="slds-icon__container domain-icon-box">
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Shelter'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-24">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_custom24"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Food'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-51">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_custom51"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Health Care'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom86">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_custom86"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Mental Health'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-skill-entity">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#skill_entity"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Substance Abuse'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-new-child-case">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_child_case"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Income'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-update">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#update"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Transportation'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-31">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_custom31"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Childcare'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-84">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom84"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Legal'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-90">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom90"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Children Education'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <img class="child-edu-logo" src="{!URLFOR($Resource.MI_Images,'MI_Images/custom/ChildEducation.png')}"/>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Adult Education'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-article">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/standard-sprite/svg/symbols.svg#article"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Financial Management'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-40">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom40"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Life Skills'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-76">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Parenting'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-people">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#people"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Support Network'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-new-group">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_group"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Community Involvement'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-14">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom14"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                            </span>
                                            
                                            <div class="notify-body-middle">
                                                <div class="sv-type-text-title-theme"> {!milestoneMap[milestone].Goal__r.Domain__c}</div>
                                                <span class="slds-truncate text-super-sub-title-theme">Goal - {!milestoneMap[milestone].Name__c}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="visible-xs-block">
                                            <div class="notify">
                                                <span class="slds-icon__container">
                                                    <svg aria-hidden="true" class="slds-icon icon__svg shelter-service-icon slds-icon--small">
                                                    <use xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/standard-sprite/svg/symbols.svg#home"></use>
                                                    </svg>
                                                </span> 
                                                <div class="notify-body-middle">
                                                    <div class="sv-type-text-title-theme"> {!milestoneMap[milestone].Goal__r.Domain__c}</div>
                                                    <span class="slds-truncate text-super-sub-title-theme">Goal - {!milestoneMap[milestone].Name__c}</span>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
						            <div class="back-to-domains">
						            	<i class="fa fa-angle-left fa-lg slds-m-right--x-small"></i>
                                        <span class="arrow-custom size-small arrow-custom-left"></span>
                                        <span>{!catg}</span>
						            </div>
						        </div>
						        <div id="acc-{!milestoneMap[milestone].id}" class="panel-collapse collapse panel-outer" role="tabpanel">
                                    <div class="timeline-goal-header-static">
                                        <div class="notify">
                                            <span class="slds-icon__container domain-icon-box">
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Shelter'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-24">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_custom24"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Food'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-51">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_custom51"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Health Care'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom86">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_custom86"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Mental Health'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-skill-entity">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#skill_entity"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Substance Abuse'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-new-child-case">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_child_case"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Income'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-update">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#update"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Transportation'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-31">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_custom31"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Childcare'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-84">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom84"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Legal'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-90">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom90"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Children Education'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <img class="child-edu-logo" src="{!URLFOR($Resource.MI_Images,'MI_Images/custom/ChildEducation.png')}"/>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Adult Education'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-article">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/standard-sprite/svg/symbols.svg#article"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Financial Management'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-40">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom40"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Life Skills'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-76">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Parenting'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-people">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#people"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Support Network'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-new-group">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#new_group"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                                <apex:outputPanel rendered="{!milestoneMap[milestone].Goal__r.Domain__c == 'Community Involvement'}">
                                                    <div class="domain-logo">
                                                        <span class="slds-icon__container">
                                                            <svg aria-hidden="true" class="slds-icon slds-icon-custom-14">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/action-sprite/svg/symbols.svg#custom14"></use>  
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </apex:outputPanel>
                                            </span>
                                            
                                            <div class="notify-body-middle">
                                                <div class="sv-type-text-title-theme"> {!milestoneMap[milestone].Goal__r.Domain__c}</div>
                                                <span class="slds-truncate text-super-sub-title-theme">Goal - {!milestoneMap[milestone].Name__c}</span>
                                            </div>
                                        </div>
                                    </div>
                                    
						            <div class="slds-grid slds-wrap service-box">
						                <div class="slds-col slds-size--1-of-1"> 
						                    <div timeline-id="t-{!milestoneMap[milestone].id}" class="timeline-box hidden-xs">
						                        <div class="timeline-elements">
						                            <div class="timeline-line"></div>
						                        </div>
						                        <div class="timeline-content-box">
						                        	<apex:variable var="i" value="{!1}"/>
						                        	<apex:repeat value="{!milestoneItems[milestone]}" var="step">
						                        		<apex:outputPanel rendered="{!step.Selected_Step__c}">
                                                        <div class="timeline-step-box">
                                                                <div step-id="t-{!milestoneMap[milestone].id}-step-{!step.Id}" id="circle-{!step.Id}" class="timeline-step-circle {!IF(Step.Completed__c == true, 'checked', '')}">
                                                                    <div class="timeline-step-completed">
                                                                        <span class="slds-icon_container">
                                                                            <svg aria-hidden="true" class="slds-icon icon-utility-check icon-check slds-icon--x-small">
                                                                                <use xlink:href="{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/utility-sprite/svg/symbols.svg#check')}">
                                                                                </use>
                                                                            </svg>
                                                                        </span>
                                                                    </div>
                                                                    <div class="timeline-step-no">{!i}</div>
                                                                </div>
							                                <div class="timeline-step-desc">{!step.Name__c}</div>
							                            </div>
							                            <apex:variable var="i" value="{!i+1}"/>
                                                        </apex:outputPanel>
						                        	</apex:repeat>
						                        </div>
						                        <div class="timeline-ctrl ctrl-box ctrl-left">
						                            <div class="ctrl-arrow"></div>
						                        </div>
						                        <div class="timeline-ctrl ctrl-box ctrl-right">
						                            <div class="ctrl-arrow"></div>
						                        </div>
						                        <div class="timeline-indicator-box">
						                            <div class="timeline-indicator">
						                                <div class="timeline-triangle"></div>
						                            </div>
						                        </div>
						                    </div>
						                </div>
						                <div timeline-id="t-{!milestoneMap[milestone].id}" class="slds-col slds-size--1-of-1 goal-stepdata-boxes">
						                	<div class="panel-group" id="accordion-t-{!milestoneMap[milestone].id}" role="tablist" aria-multiselectable="true">
						                		<apex:variable var="j" value="{!1}"/>
						                		<apex:repeat value="{!milestoneItems[milestone]}" var="step">
                                                   <apex:outputPanel layout="none" rendered="{!step.Selected_Step__c}">
						                			<div class="panel panel-default">
													    <div role="button" class="service-header step-mobile-header collapsed" data-toggle="collapse" data-parent="#accordion-t-{!milestoneMap[milestone].id}" href="#t-{!milestoneMap[milestone].id}-step-{!step.Id}" aria-expanded="true" aria-controls="collapseOne">
													        <div class="notify">
													        	<div step-id="t-{!milestoneMap[milestone].id}-step-{!step.Id}" id="mob-circle-{!step.Id}" class="timeline-step-circle {!IF(Step.Completed__c == true, 'checked', '')}">
                                                                    <div class="timeline-step-completed">
                                                                        <span class="slds-icon_container">
                                                                            <svg aria-hidden="true" class="slds-icon icon-utility-check icon-check slds-icon--x-small">
                                                                                <use xlink:href="{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/utility-sprite/svg/symbols.svg#check')}">
                                                                                </use>
                                                                            </svg>
                                                                        </span>
                                                                    </div>
                                                                    <div class="timeline-step-no">{!j}</div>
								                                </div>
								                                <div class="notify-body-middle">
								                                	<div class="timeline-step-desc">{!step.Name__c}</div>
								                                </div>
													        </div>
												        </div>
													    <div id="t-{!milestoneMap[milestone].id}-step-{!step.Id}" class="panel-collapse collapse desktop-force-display" role="tabpanel" aria-labelledby="headingOne">
													      	<div step-id="t-{!milestoneMap[milestone].id}-step-{!step.Id}" class="goal-stepdata-box">
														      	<div class="slds-col slds-size--1-of-1 stepdata-title-box goal-empty-box">
									                                <span class="stepdata-title-main">No Service Selected</span>
									                            </div>
													      		<apex:repeat value="{!stepSelectedServicesMap[step.id]['Selected']}" var="serv">
													      			<div class="slds-grid slds-wrap">
											                            <div class="slds-col slds-size--1-of-1 stepdata-title-box">
											                                <!-- <span class="stepdata-title-main">Jordan Center</span> -->
											                                <span class="stepdata-title-main">{!serv.Name__c}</span>
											                                <div class="stepdata-title-sub">(Service Provider Details)</div>
											                            </div>
											                            <div class="slds-col slds-size--1-of-1 stepdata-separator hidden-xs"></div>
											                            <div class="slds-col slds-size--1-of-1">
											                                <div class="slds-grid slds-wrap stepdata-content-box">
											                                    <div class="slds-size--1-of-1 slds-medium-size--1-of-3 slds-col--padded slds-no-flex step-card-parent">
											                                        <div class="step-card">
											                                            <div class="step-card-title">About Us</div>
											                                            <span class="step-card-info line-break">{!serv.Services_About_Us__c}</span>
											                                        </div>
											                                        <div class="slds-col slds-size--1-of-1 stepdata-separator t-b-margin visible-xs-block"></div>
											                                    </div>
											                                    <div class="separator-vertical"></div>
											                                    <div class="slds-size--1-of-1 slds-medium-size--1-of-3 slds-col--padded slds-no-flex step-card-parent">
											                                        <div class="step-card">
											                                            <div class="step-card-title">What to do next</div>
											                                            <div class="step-card-info line-break">{!serv.What_To_do__c}</div>
											                                        </div>
											                                        <div class="slds-col slds-size--1-of-1 stepdata-separator t-b-margin visible-xs-block"></div>
											                                    </div>
											                                    <div class="separator-vertical"></div>
											                                    <div class="slds-size--1-of-1 slds-medium-size--1-of-3 slds-col--padded slds-no-flex step-card-parent">
											                                        <div class="step-card">
											                                            <div class="step-card-title">Contact Us</div>
											                                            <div class="notify step-card-info">
											                                                <span>
											                                                    <svg aria-hidden="true" class="slds-icon icon-utility-location slds-icon-text-default slds-icon--x-small">
											                                                        <use xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/utility-sprite/svg/symbols.svg#checkin"></use>
											                                                    </svg>
											                                                </span>
											                                                <div class="notify-body-middle"><a href="https://www.google.co.in/maps/place/{!serv.Location__c}">{!serv.Location__c}</a></div>
											                                            </div>
											                                            <div class="notify step-card-info">
											                                                <span>
											                                                    <svg aria-hidden="true" class="slds-icon icon-utility-location slds-icon-text-default slds-icon--x-small">
											                                                    <use xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/utility-sprite/svg/symbols.svg#call"></use>
											                                                    </svg>
											                                                </span>
											                                                <div class="notify-body-middle">{!serv.Phone_Number__c}</div>
											                                            </div>
											                                            <div class="notify step-card-info">
											                                                <span>
											                                                    <svg aria-hidden="true" class="slds-icon icon-utility-location slds-icon-text-default slds-icon--x-small">
											                                                    <use xlink:href="/resource/1449212218000/IconsLightening/salesforce-lightning-design-system-icons/utility-sprite/svg/symbols.svg#world"></use>
											                                                    </svg>
											                                                </span>
											                                                <div class="notify-body-middle">{!serv.Phone_Number__c}</div>
											                                            </div>
											                                        </div>
											                                    </div>
											                                </div>
											                            </div>
											                            
											                            <div class="slds-col slds-size--1-of-1 stepdata-separator hidden-xs"></div>
											                            <div class="slds-col slds-size--1-of-1">
											                                <div class="slds-grid slds-wrap stepdata-footer-box">
											                                    <div class="slds-col slds-size--1-of-1 stepdata-note-title">Additional Notes</div>
											                                    <div class="slds-col slds-size--1-of-1 stepdata-note-edit">
											                                        <textarea class="additional-note-txt-area" id="textarea-{!step.Id}">{!step.Notes_And_Recommendations__c}</textarea>
											                                    </div>
											                                    <div class="slds-col slds-size--1-of-1 stepdata-note-display hide"></div>
											                                    <div class="slds-col slds-size--1-of-1 stepdata-complete">
											                                        <div class="slds-form-element">
											                                            <div class="slds-form-element__control">
											                                                <label class="slds-checkbox">
                                                                                                <apex:outputPanel layout="none" rendered="{!IF(step.Completed__c,true,false)}">
                                                                                                    <input type="checkbox" name="options" id="checkbox-{!step.Id}" checked="checked"/>
                                                                                                </apex:outputPanel>
											                                                    <apex:outputPanel layout="none" rendered="{!IF(step.Completed__c,false,true)}">
                                                                                                    <input type="checkbox" name="options" id="checkbox-{!step.Id}"/>
                                                                                                </apex:outputPanel>
											                                                    <span class="slds-checkbox--faux"></span>
                                                                                                <span class="slds-form-element__label">Mark as complete</span>
											                                                </label>
											                                            </div>
											                                        </div>
											                                    </div>
											                                    <div class="slds-col slds-size--1-of-1 stepdata-ctrls">
											                                    	<input type="button" value="Cancel" class="slds-m-right--small slds-button slds-button--neutral mi-btn-neutral" />
											                                        <input type="button" value="Save" class="slds-m-right--small slds-button slds-button--brand mi-btn-brand" stepid="{!step.Id}" onClick="SaveMilesteps(event)"/>
											                                        <input type="button" value="Edit" class="hide slds-m-right--small slds-float--right slds-button slds-button--brand mi-btn-brand" />
											                                    </div>
											                                </div>
											                            </div>
											                        </div>
													      		</apex:repeat>
										                        
										                    </div>
													    </div>
													</div>
													<apex:variable var="j" value="{!j+1}"/>
                                                   </apex:outputPanel>
						                		</apex:repeat>
												
											</div>
						                </div>
						            </div>
						        </div>
						    </div>
						</apex:repeat>
					   </apex:repeat>   
                    </div> 
                    <apex:variable var="tabCounter" value="{!tabCounter+1}"/>
				</apex:repeat>
			</div>
	    </div>
	    <script type="text/javascript">
        
        function SaveMilesteps(event){
            var vchk = false;
        	var domElement =$(event.target);
            var stepid = domElement.attr('stepid');
            if($("#checkbox-"+stepid+":checked").length > 0){
            	vchk = true;    
            }
            var vaddnotes = $("#textarea-"+stepid).val();
            CitizenSuccessPlanCtrl.Markcompletestep(stepid,vchk,vaddnotes,function (response,event) {
                if(vchk == true){
                	if(!($("#circle-"+stepid).hasClass('checked'))){
                    	 $("#circle-"+stepid).addClass('checked');
                         $("#mob-circle-"+stepid).addClass('checked');
                    }
                }
                else{
                	if($("#circle-"+stepid).hasClass('checked')){ 
                    	$("#circle-"+stepid).removeClass('checked');
                        $("#mob-circle-"+stepid).removeClass('checked');
                    }
                } 
            },{escape:false});
        }
        
	    	//Icon Resouce Manager
        /*var iconResource = {};
			iconResource["shelter"] = {iconType:'action-sprite',iconName:'new_custom24',wrapperClass:'slds-icon-custom-24'};
			iconResource["food"] = {iconType:'action-sprite',iconName:'new_custom51',wrapperClass:'slds-icon-custom-51'};
			iconResource["healthcare"] = {iconType:'action-sprite',iconName:'new_custom86',wrapperClass:'slds-icon-action-custom86'};
			iconResource["mentalhealth"] = {iconType:'standard-sprite',iconName:'skill_entity',wrapperClass:'slds-icon-standard-skill-entity'};
			iconResource["substanceabuse"] = {iconType:'action-sprite',iconName:'new_custom86',wrapperClass:'slds-icon-action-custom-86'};
			iconResource["income"] = {iconType:'action-sprite',iconName:'update',wrapperClass:'slds-icon-action-update'};
			iconResource["legal"] = {iconType:'action-sprite',iconName:'new_custom90',wrapperClass:'slds-icon-custom-90'};
			iconResource["transportation"] = {iconType:'action-sprite',iconName:'new_custom31',wrapperClass:'slds-icon-custom-31'};
			iconResource["childcare"] = {iconType:'action-sprite',iconName:'new_custom84',wrapperClass:'slds-icon-custom-84'};
			iconResource["childreneducation"] = {iconType:'utility-sprite',iconName:'palette',wrapperClass:'slds-icon-utility-palette'};
			iconResource["adulteducation"] = {iconType:'standard-sprite',iconName:'article',wrapperClass:'slds-icon-standard-article'};
			iconResource["supportnetwork"] = {iconType:'action-sprite',iconName:'new_group',wrapperClass:'slds-icon-action-new-group'};
			iconResource["lifeskills"] = {iconType:'action-sprite',iconName:'new_custom76',wrapperClass:'slds-icon-custom-76'};
			iconResource["parenting"] = {iconType:'utility-sprite',iconName:'people',wrapperClass:'slds-icon-utility-people'};
			iconResource["financialmanagement"] = {iconType:'action-sprite',iconName:'new_custom40',wrapperClass:'slds-icon-custom-40'};
			iconResource["communityinvolvement"] = {iconType:'action-sprite',iconName:'new_custom14',wrapperClass:'slds-icon-custom-14'};



			var getIconUrl = function(domainName){
			    var domainRes = iconResource[trimDomainText(domainName).toLowerCase()],
			        basePath = "{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/')}";
			    return basePath+domainRes.iconType+'/svg/symbols.svg#'+domainRes.iconName;
			}
			var getIconTypeClass = function(domainName){
			    var domainRes = iconResource[trimDomainText(domainName).toLowerCase()],
			        className = (domainRes.iconType === 'standard-sprite')?'standard-icon':'action-icon';
			    return className;
			}

			var getWrapperClass = function (domainName) {
			      var wrapper = iconResource[trimDomainText(domainName).toLowerCase()].wrapperClass+' '+getIconTypeClass(domainName);
			      return wrapper;
			}

			var trimDomainText = function (strDomain){
			    return strDomain.replace(/\/|\s/g,'');
			}



			var updateDomainIcons = function () {
			      var $domIconBox = $('.domain-icon-box');
			      $domIconBox.each(function (index,box) {
			            var domName = box.getAttribute('dom-name');
			            var isBig = box.getAttribute('dom-big');
			            var containerClass = getWrapperClass(domName);
			            var iconUrl = getIconUrl(domName);
			            var iconBox = (isBig==='true')?'icon-box-45':'icon-box';

			            box.innerHTML = '<span class="'+iconBox+' '+containerClass+'"><svg aria-hidden="true" class="slds-icon icon__svg"><use xlink:href="'+iconUrl+'"></use></svg></span>';
			      });
			}*/
	    </script>
	</apex:outputPanel>
   </apex:form>
</apex:component>