<apex:component controller="MI_MultiSelectController"  >

  <apex:attribute name="leftLabel" description="Label on left listbox."
    type="String" required="true" />
  <apex:attribute name="rightLabel" description="Label on right listbox."
    type="String" required="true" />
  <apex:attribute name="size" description="Size of listboxes."
    type="Integer" required="true" />
  <apex:attribute name="width" description="Width of listboxes."
    type="String" required="false" />
  <apex:attribute name="rightselectusers" description="Already send the event to users."
    type="String" required="true" />

  <apex:attribute name="leftOptionsVal"
    description="Options list for left listbox." type="SelectOption[]"
    required="true" assignTo="{!leftOptions}" />
  <apex:attribute name="rightOptionsVal"
    description="Options list for right listbox." type="SelectOption[]"
    required="true" assignTo="{!rightOptions}" />
	<script>
    function addconfunc()
    {
        if($('[id$=rightList]').find('option').length == 5)
        {
            alert("Event can only be send to upto 5 individuals");
            event.preventDefault();
        }   
    }
    
    function removeconfunc()
    {
        if('{!rightselectusers}' != '' && '{!rightselectusers}' != null)
        {
          	var sendusersarr = '{!rightselectusers}'.split(";");      
        	for(var i=0;i<sendusersarr.length;i++)
            {
                if($('[id$=rightList]').find('option:selected').val() == sendusersarr[i])
                {
                    event.preventDefault();
                }
            }
        }
    }
    
    </script>
  <apex:outputPanel id="multiselectPanel" layout="block">
    <table class="layout">
      <tbody>
        <tr>
          <td class="selectCell" style="padding-left:15px;">
          <apex:outputPanel layout="block">
              <apex:outputLabel value="{!leftLabel}" for="multiselectPanel:leftList" style="font-weight: 500"/> 
            </apex:outputPanel> 
            <select id="{!$Component.multiselectPanel}:leftList" 
              class="multilist" multiple="multiple" size="{!size}" 
              style="width: {!width};">
              <apex:repeat value="{!leftOptions}" var="option">
                <option value="{!option.value}">{!option.label}</option>
              </apex:repeat>
            </select>
          </td>
          <td class="buttonCell">
            &nbsp;&nbsp;
          </td>
          <td class="selectCell">
            <apex:outputPanel layout="block" >
                <apex:outputLabel value="{!rightLabel}" for="multiselectPanel:rightList" style="font-weight: 500"/> 
            </apex:outputPanel> 
            <select id="{!$Component.multiselectPanel}:rightList" class="multilist" multiple="multiple" size="{!size}" style="width: {!width};">  
     
            
              <apex:repeat value="{!rightOptions}" var="option">
                <option value="{!option.value}">{!option.label}</option>
              </apex:repeat>
            </select>
          </td>
          <td class="buttonCell">
                    

          </td>
          
        </tr>
        <tr>
        <td colspan="3" style="padding-left:15px;">

<apex:outputPanel layout="block">

              <apex:outputLink style="font-size: 10px;"   value="javascript:moveSelectedOptions('{!$Component.multiselectPanel}:leftList', 
                  '{!$Component.multiselectPanel}:rightList', '{!$Component.leftHidden}', 
                  '{!$Component.rightHidden}');"
                id="btnRight" onclick="addconfunc()">
                <apex:outputText style="font-size: 10px;"  value="Add Contact"   />
             </apex:outputLink>
              <apex:outputLink value="javascript:moveSelectedOptions('{!$Component.multiselectPanel}:rightList', 
                  '{!$Component.multiselectPanel}:leftList', '{!$Component.rightHidden}', 
                  '{!$Component.leftHidden}');"
                id="btnLeft" onclick="removeconfunc()">
                  <apex:outputText style="margin-left: 3%;font-size: 10px;"  value="Remove Contact"  />
              </apex:outputLink>
            </apex:outputPanel>

            </td>
            </tr>
      </tbody>
    </table>
    <apex:inputHidden value="{!leftOptionsHidden}" id="leftHidden" />
    <apex:inputHidden value="{!rightOptionsHidden}" id="rightHidden" />
  </apex:outputPanel>
  <script type="text/javascript">
  
  function popupwindow(url, title, w, h) {
  console.log('-- ' + url);
          var left = (screen.width/2)-(w/2);
          var top = (screen.height/2)-(h/2);
          return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    } 
  
    if (!buildOutputString) {
      // Create a string from the content of a listbox
      var buildOutputString = function(listBox, hiddenInput) {
        var str = '';

        for ( var x = 0; x < listBox.options.length; x++) {
          str += encodeURIComponent(listBox.options[x].value) + '&'
              + encodeURIComponent(listBox.options[x].text) + '&';
        }
        str.length--;

        hiddenInput.value = str.slice(0, -1);
      }
    }

    if (!moveSelectedOptions) {
      // Move the selected options in the idFrom listbox to the idTo
      // listbox, updating the corresponding strings in idHdnFrom and
      // idHdnTo
      var moveSelectedOptions = function(idFrom, idTo, idHdnFrom, idHdnTo) {
        listFrom = document.getElementById(idFrom);
        listTo = document.getElementById(idTo);

        for ( var x = 0; x < listTo.options.length; x++) {
          listTo.options[x].selected = false;
        }

        for ( var x = 0; x < listFrom.options.length; x++) {
          if (listFrom.options[x].selected == true) {
            listTo.appendChild(listFrom.options[x]);
            x--;
          }
        }

        listTo.focus();

        buildOutputString(listFrom, document.getElementById(idHdnFrom));
        buildOutputString(listTo, document.getElementById(idHdnTo));
      }
    }
    
    // initialize the string representations
    buildOutputString(document.getElementById('{!$Component.multiselectPanel}:leftList'), 
        document.getElementById('{!$Component.leftHidden}'));
    buildOutputString(document.getElementById('{!$Component.multiselectPanel}:rightList'), 
        document.getElementById('{!$Component.rightHidden}'));
  </script>
</apex:component>