<apex:component >
<style type="text/css">
	.share-it-box{
		padding: 10px 15px;
	}
	.share-it-search,
	.share-it-contacts,
	.share-it-ctrls {
	    margin-top: 15px;
	}

	.share-it-ctrls{
		text-align: right;
	}

	.contact-type{
		color: #B7C0D0;
	}
	.contact-selection {
		width: 30px;
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	    width: 5%;
	}

	.contact-name-box{
		border-bottom: 1px solid #BDC5D3;
		padding-bottom: 5px;
		width: 100%;
	}

	#shareWidget .modal-dialog {
		width: 400px;
	}
	#shareWidget .modal-content {
		height: 320px;
	}
	.contact-list-wrapper {
	    height: 142px;
	}

</style>
<div class="modal fade slds" tabindex="-1" role="dialog" id="shareWidget">
	<div class="modal-dialog modal-md">
	<div class="modal-content">
	    <div class="modal-body">
	      	<div class="share-it-box slds-grid slds-wrap">
				<div class="slds-col slds-size--1-of-1 share-it-title slds-text-heading--label">
			    	CHECK CONTACTS TO SHARE
			    </div>
			    <div class="share-it-search slds-form-element slds-col slds-size--1-of-1">
			    	<div class="slds-form-element__control">
						<input id="sample1" class="slds-input search-ctrl" type="text" placeholder="Start typing name to search" />
					</div>
				</div>
				<div class="share-it-contacts slds-col slds-size--1-of-1">
					<div class="contact-list-wrapper slds-scrollable--y">
                        <table class="slds-table">
                            <tbody id="fileViewListBox">
                                    <tr class="slds-hint-parent file-view-list">
                                        <td class="slds-row-select contact-selection">
                                            <label class="slds-checkbox" for="contactChk">
                                              <input type="checkbox" id="contactChk" name="checkbox" />
                                              <span class="slds-checkbox--faux"></span>
                                              <span class="slds-form-element__label slds-assistive-text">select contact</span>
                                            </label>
                                        </td>
                                        <td class="slds-row-select">
                                            <div class="notify">
                                                <span class="slds-icon__container icon-size-custom-20">
                                                    <img src="{!URLFOR($Resource.IconsLightening,'salesforce-lightning-design-system-icons/utility/page_60.png')}" />
                                                </span>
                                                <div class="notify-body-middle contact-name-box">
                                                    <div class="slds-text-body--small file-name">Json Collins</div>
                                                    <div class="slds-text-body--small file-name contact-type">EMPLOYMENT PARTNER</div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
				<div class="share-it-ctrls slds-col slds-size--1-of-1">
					<button class="slds-button slds-button--brand slds-button--small" data-dismiss="modal">Cancel</button>
					<button class="slds-button slds-button--neutral slds-button--small slds-m-left--x-small">Save Changes</button>
				</div>
			</div>
	      </div>
	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</apex:component>